<h1 class="mt-4">Home Page</h1>

<p class='dummy-content'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, aut.</p>
<p class='dummy-content'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, aut.</p>
<p class='dummy-content'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, aut.</p>
<p class='dummy-content'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, aut.</p>
<p class='dummy-content'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, aut.</p>
<br>
<a href="/users/logout" class="btn btn-primary">Logout</a>
<br>
<br>
<a href="/users/update-password" class="btn btn-primary">Update Password</a>
