<!-- Email input form for getting password reset token -->
<div class="form-container">
    <p class="form-title text-center">Reset Password</p>
    <form action="/users/reset-password" method="POST">
        <%- include('_user-messages')%>
        <div class="form-group">
            <input type="email" id="email" name="email" class="form-control" placeholder=" " required />
            <label for="email"> Email </label>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Send Password Reset Mail</button>
    </form>
    <div class="after-form">
        <a href="/users/sign-in">Sign In </a>Instead?
    </div>
</div>