* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	background-color: ghostwhite;
}

.form-container {
	width: 450px;
	height: auto;
	border: 1px solid #eee;
	box-shadow: 0 0 4px #ccc;
	border-radius: 6px;
	margin: auto;
	margin-top: 70px;
	font-family: "Poppins", sans-serif;
	background-color: white;
}

.form-title {
	font-size: 2rem;
	border-bottom: 2px solid whitesmoke;
	margin: 10px 2px;
	padding-bottom: 1px;
}

form {
    padding: 1.5rem;
}

.form-control {
	background-color: inherit;
}

.form-group {
	position: relative;
	margin-bottom: 1.5rem;
}

.form-group label {
	position: absolute;
	top: 50%;
	left: 1.5rem;
	transform: translateY(-50%);
	padding: 0 4px;
	font-size: 1rem;
	transition: top 0.3s ease;
	pointer-events: none;
	z-index: 1;
	background-color: white;
}

.form-group input {
	border: 2px solid whitesmoke;
	border-radius: 8px;
}

/* Move label Up on user input */
.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
	top: 0;
	font-size: 0.8rem;
}

.form-group:focus {
	outline: none;
}

.form-control:focus {
	color: #55595c;
	background-color: #fff;
	border: none;
	outline: none;
}

.btn-primary {
	background-color: #2f4858;
	border-radius: 8px;
	transition: all 0.2s ease;
}

.btn-primary:hover {
	background-color: grey;
	letter-spacing: 2px;
	border-radius: 4px;
}

.google-auth{
	height: 3rem;
	line-height:3rem;
	border-top: 2px solid whitesmoke;
	text-align: center;
}

.google-auth i{
transition: all 0.2s ease;
	font-size: 1.2rem;
}

.google-auth i:hover{
		background-color: #DB4437;
		color: white;
		border-radius: 50%;
		padding: 5px;
}

.after-form{
	top: 100;
	transform: translateY(50%);
	position: absolute;
}

.alert-dismissible{
    font-size: 0.75rem;
}

.captcha{
	margin: 1.5rem auto;
	margin-left: 48px;
}

/* Dummy Content for home page */
.dummy-content{
    width: 150px;
    border: 1px solid #eee;
    box-shadow: 0 0 3px #ccc;
    padding: 1rem;
    background-color: #fff;
    display: inline-block;
    margin-right: 1.5rem;
}